# ScottOS 8x GRUB Configuration
# Boot loader configuration for ScottOS 8x

### BEGIN /etc/grub.d/00_header ###
set default="0"
set timeout="10"
set timeout_style="countdown"

### END /etc/grub.d/00_header ###

### BEGIN /etc/grub.d/10_linux ###
menuentry 'ScottOS 8x' --class scottos --class gnu-linux --class gnu --class os $menuentry_id_option 'gnulinux-scottos-8x' {
    search --set=root --label scottos
    linux /vmlinuz-scottos root=/dev/mapper/scottos-root ro quiet splash vt_handoff
    initrd /initrd.img-scottos
}

menuentry 'ScottOS 8x (Safe Mode)' --class scottos --class gnu-linux --class gnu --class os $menuentry_id_option 'gnulinux-scottos-safe' {
    search --set=root --label scottos
    linux /vmlinuz-scottos root=/dev/mapper/scottos-root ro single
    initrd /initrd.img-scottos
}

menuentry 'ScottOS 8x (Recovery Mode)' --class scottos --class gnu-linux --class gnu --class os $menuentry_id_option 'gnulinux-scottos-recovery' {
    search --set=root --label scottos
    linux /vmlinuz-scottos root=/dev/mapper/scottos-root ro single systemd.unit=emergency.target
    initrd /initrd.img-scottos
}

### END /etc/grub.d/10_linux ###

### BEGIN /etc/grub.d/30_boot-theme ###
# Boot screen theme
set gfxmode=1920x1080x32
insmodfont png
font /boot/grub/fonts/DejaVuSansMono.pf2

# Set background image
if background_image /boot/grub/backgrounds/scottos-boot.png; then
  set color_normal=white/black
  set color_highlight=yellow/black
else
  set color_normal=light-gray/black
  set color_highlight=white/black
fi

### END /etc/grub.d/30_boot-theme ###
